sudo: required
services:
  - docker

before_install:
  - docker build -t econgamer/docker-react -f Dockerfile.dev .

script:
  - docker run econgamer/docker-react npm run test -- --coverage

  # docker run -e CI=true econgamer/docker-react npm run test
